<ion-view view-title="Cálculos" name="dashboard-view">
  <ion-content class="padding">
    <div class="list">
   <div class="item item-divider">
   Calculos de financiamiento
  </div>
     <div class="row">
  <div class="col">
     <h5 class="title">Valor del crédito: </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.valorCredito}}</h5>
  </div>
</div>

<div class="row">
  <div class="col">
     <h5 class="title">Valor de la cuota: </h5>
  </div>
  <div class="col">
     <h5 class="title">{{formatearValoresMoneda(datos.cuota)}}</h5>
  </div>
</div>
 <div class="item item-divider">
   Calculos cuota inicial 
  </div>

<div class="row">
  <div class="col">
     <h5 class="title">Valor de la cuota inicial: </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.iniValorInicial}}</h5>
  </div>
</div>
<div class="row">
  <div class="col">
     <h5 class="title">Valor faltante de la cuota inicial: </h5>
  </div>
  <div class="col">
     <h5 class="title">{{formatearValoresMoneda(datos.vIniValorInicial-datos.iniAbono)}}</h5>
  </div>
</div>

<div class="row">
  <div class="col">
     <h5 class="title">Meses: </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.iniMeses}}</h5>
  </div>
</div>
<div class="row">
  <div class="col">
     <h5 class="title">Cuota Mensual: </h5>
  </div>
  <div class="col">
     <h5 class="title">{{formatearValoresMoneda((datos.vIniValorInicial-datos.iniAbono)/datos.iniMeses)}}</h5>
  </div>
</div>
<div class="item item-divider">
   Otros valores
  </div>
<div class="row">
  <div class="col">
     <h5 class="title">Valor estimado de las escrituras: </h5>
  </div>
  <div class="col">
     <h5 class="title">{{formatearValoresMoneda(datos.vApartamento*2.5/100)}}</h5>
  </div>
</div>
<div class="row">
  <div class="col">
     <h5 class="title">Valor estimado del seguro: </h5>
  </div>
  <div class="col">
     <h5 class="title">{{formatearValoresMoneda(((datos.vIniValorInicial-datos.iniAbono)/datos.iniMeses)*2.2/100)}}</h5>
  </div>
</div>
<div class="row">
  <div class="col">
     <h5 class="title">Valor cuota con seguro: </h5>
  </div>
  <div class="col">
     <h5 class="title">{{formatearValoresMoneda(((datos.vIniValorInicial-datos.iniAbono)/datos.iniMeses)*2.2/100+datos.cuota)}}</h5>
  </div>
</div>

  </div>
  </ion-content>
</ion-view>
