<ion-view view-title="{{ 'CALCULOS.TITULO' | translate }}" name="dashboard-view">
   <form name="formCalculos">
  <ion-content class="padding">
   
    <div class="list">
   <div class="item item-divider">
   {{ 'CALCULOS.CALCULOS_FINANCIAMIENTO' | translate }}
  </div>
     <div class="row">
  <div class="col">
     <h5 class="title"> {{ 'CALCULOS.VALOR_CREDITO' | translate }} </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.fValorCredito}}</h5>
  </div>
</div>

<div class="row">
  <div class="col">
     <h5 class="title">{{ 'CALCULOS.VALOR_CUOTA' | translate }}  </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.fCuota}}</h5>
  </div>
</div>
 <div class="item item-divider">
   Calculos cuota inicial 
  </div>

<div class="row">
  <div class="col">
     <h5 class="title">{{ 'CALCULOS.VALOR_CUOTA_INICIAL' | translate }}  </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.fValorInicial}}</h5>
  </div>
</div>
<div class="row">
  <div class="col">
     <h5 class="title">{{ 'CALCULOS.VALOR_FALTANTE_CUOTA_INICIAL' | translate }}  </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.fFaltanteIni}}</h5>
  </div>
</div>

<div class="row">
  <div class="col">
     <h5 class="title">{{ 'CALCULOS.MESES' | translate }} </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.iniMeses}}</h5>
  </div>
</div>
<div class="row">
  <div class="col">
     <h5 class="title">{{ 'CALCULOS.CUOTA_MENSUAL' | translate }}  </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.fCuotaInicial}}</h5>
  </div>
</div>
<div class="item item-divider">
   Otros valores
  </div>
<div class="row">
  <div class="col">
     <h5 class="title">{{ 'CALCULOS.VALOR_ESTIMADO_ESCRITURAS' | translate }}  </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.fEscrituras}}</h5>
  </div>
</div>
<div class="row">
  <div class="col">
     <h5 class="title">{{ 'CALCULOS.VALOR_SEGURO' | translate }} </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.fSeguros}}</h5>
  </div>
</div>
<div class="row">
  <div class="col">
     <h5 class="title">{{ 'CALCULOS.VALOR_CON_SEGURO' | translate }}  </h5>
  </div>
  <div class="col">
     <h5 class="title">{{datos.fCoutaSeguros}}</h5>
  </div>
</div>

  </div>
   
  </ion-content>
   </form>
</ion-view>
