<ion-view view-title="{{ 'COMPARAR.TITULO' | translate }}" name="dashboard-view">
 <form name="formComparar">
  <ion-content class="padding">
    <div class="list">
  
<div class="tabla">
   <div class="row header">
          <div class="col col-50 text-center">{{ 'COMPARAR.TASA_ANUAL' | translate }}</div>
          <div class="col col-25 text-center">{{ 'COMPARAR.CUOTA' | translate }}</div>
          <div class="col col-25 text-center">{{ 'COMPARAR.BANCO_ENTIDAD' | translate }}</div>
   </div>

<div class="row">



  <div class="col col-50">


    
  <label class="item item-input">
    <input name="iDtasa1"  ng-pattern="/^[0-9]*$/"  class="text-center" type="text" placeholder="{{ 'COMPARAR.TASA' | translate }}" ng-model="datos.tasa1" required>
    </label>
    <div ng-messages="formComparar.iDtasa1.$error" style="color:maroon" role="alert" ng-if='formComparar.iDtasa1.$touched'>
                 <ng-messages-include src="templates/error-messages.html"/>
        </div>

        
    <div class="item range range-positive">
     
  
    <input type="range"  min="0" max="100"  ng-model="datos.tasa1" ng-change="init()" ng-init="datos.tasa1=13" >

  </div>
  </div>
  <div class="col col-25 text-center">
 <h5 class="title">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa1))}} </h5>
  </div>
  
<div class="col col-25 text-center">
  <label class="item item-input">
  <input type="text"  class="text-center" placeholder="{{ 'COMPARAR.BANCO1' | translate }}" ng-model="datos.banco1" ng-init="datos.banco1='B1'">
</label>
  </div>
</div>
   

<div class="row">
    <div class="col col-50">
        <label class="item item-input">
    <input ng-pattern="/^[0-9]*$/"  name="iDtasa2" class="text-center" type="text" placeholder="{{ 'COMPARAR.TASA' | translate }}" ng-model="datos.tasa2" required>
    </label>
       <div  ng-messages="formComparar.iDtasa2.$error" style="color:maroon" role="alert" ng-if='formComparar.iDtasa2.$touched'>
                 <ng-messages-include src="templates/error-messages.html"/>
        </div>

    <div class="item range range-positive">
    <input type="range"  min="0" max="100"   ng-model="datos.tasa2" ng-change="init()" ng-init="datos.tasa2=12">
  </div>
  </div>
  <div class="col col-25 text-center">
 <h5 class="title">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa2))}} </h5>

  </div>
  <div class="col col-25 text-center">
     <label class="item item-input">
  <input type="text" class="text-center" placeholder="{{ 'COMPARAR.BANCO2' | translate }}" ng-model="datos.banco2" ng-init="datos.banco2='B2'">
</label>
  </div>

</div>

<div class="row">
    <div class="col col-50">
        <label class="item item-input">
    <input ng-pattern="/^[0-9]*$/"  name="iDtasa3" class="text-center" type="text" placeholder="{{ 'COMPARAR.TASA' | translate }}" ng-model="datos.tasa3" required>
    </label>
    <div ng-messages="formComparar.iDtasa3.$error" style="color:maroon" role="alert" ng-if='formComparar.iDtasa3.$touched'>
                 <ng-messages-include src="templates/error-messages.html"/>
        </div>
    <div class="item range range-positive">
    <input type="range"  min="0" max="100"   ng-model="datos.tasa3" ng-change="init()" ng-init="datos.tasa3=11">
  </div>
  </div>
  <div class="col col-25 text-center">
 <h5 class="title">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa3))}} </h5>

  </div>
<div class="col col-25 text-center">
     <label class="item item-input">
  <input type="text" class="text-center" placeholder="{{ 'COMPARAR.BANCO3' | translate }}" ng-model="datos.banco3" ng-init="datos.banco3='B3'">
</label>
  </div>

</div>

<div class="row">
    <div class="col col-50">
       <label class="item item-input">
    <input ng-pattern="/^[0-9]*$/"  name="iDtasa4" class="text-center" type="text" placeholder="{{ 'COMPARAR.TASA' | translate }}" ng-model="datos.tasa4" required>
    </label>
    <div ng-messages="formComparar.iDtasa4.$error" style="color:maroon" role="alert" ng-if='formComparar.iDtasa4.$touched'>
                 <ng-messages-include src="templates/error-messages.html"/>
        </div>
    <div class="item range range-positive">
    <input type="range"  min="0" max="100"   ng-model="datos.tasa4" ng-change="init()" ng-init="datos.tasa4=10">
  </div>
  
  </div>
  <div class="col col-25 text-center">
 <h5 class="title">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa4))}} </h5>
  </div>
  <div class="col col-25 text-center">
     <label class="item item-input">
  <input type="text" class="text-center" placeholder="{{ 'COMPARAR.BANCO4' | translate }}" ng-model="datos.banco4" ng-init="datos.banco4='B4'">
</label>
  </div>
</div>
 </div>
<div class="item item-divider">
  <div class="col text-center">
  {{ 'COMPARAR.COMPARACION_TASAS' | translate }}
  </div>
  </div>
<div class="tabla">
<div class="row header">
          <div class="col col-20 bloqueado textoMediano"></div>
          <div class="col col-20 textoMediano">{{datos.banco1+"("+datos.tasa1+"%)"}}</div>
          <div class="col col-20 textoMediano">{{datos.banco2+"("+datos.tasa2+"%)"}}</div>
          <div class="col col-20 textoMediano">{{datos.banco3+"("+datos.tasa3+"%)"}}</div>
          <div class="col col-20 textoMediano">{{datos.banco4+"("+datos.tasa4+"%)"}}</div>
        </div>
        <div class="row" >
           <div class="col col-20 colorCabecera textoMediano">{{datos.banco1+"("+datos.tasa1+"%)"}}</div>
          <div class="col col-20 bloqueado"></div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa2)-obtenerCuota(datos,datos.tasa1))}}</div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa3)-obtenerCuota(datos,datos.tasa1))}}</div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa4)-obtenerCuota(datos,datos.tasa1))}}</div>
        </div>
         <div class="row" >
            <div class="col col-20 colorCabecera textoMediano">{{datos.banco2+"("+datos.tasa2+"%)"}}</div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa1)-obtenerCuota(datos,datos.tasa2))}}</div>
          <div class="col col-20 bloqueado"></div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa3)-obtenerCuota(datos,datos.tasa2))}}</div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa4)-obtenerCuota(datos,datos.tasa2))}}</div>
        </div>
         <div class="row" >
            <div class="col col-20 colorCabecera textoMediano">{{datos.banco3+"("+datos.tasa3+"%)"}}</div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa1)-obtenerCuota(datos,datos.tasa3))}}</div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa2)-obtenerCuota(datos,datos.tasa3))}}</div>
          <div class="col col-20 bloqueado"></div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa4)-obtenerCuota(datos,datos.tasa3))}}</div>
        </div>
         <div class="row" >
            <div class="col col-20 colorCabecera textoMediano">{{datos.banco4+"("+datos.tasa4+"%)"}}</div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa1)-obtenerCuota(datos,datos.tasa4))}}</div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa2)-obtenerCuota(datos,datos.tasa4))}}</div>
          <div class="col col-20 textoPequeno">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa3)-obtenerCuota(datos,datos.tasa4))}}</div>
          <div class="col col-20 bloqueado"></div>
        </div>
<div>

  

  </div>
  </ion-content>
 </form>
</ion-view>
