<ion-view view-title="Comparaciones" name="dashboard-view">
  <ion-content class="padding">
    <div class="list">
  

   <div class="row">

  <div class="button-bar bar-royal">
          <a class="button">Tasa Anual (%)</a>
          <a class="button">Couta ($)</a>
        </div>
   </div>

<div class="row">



  <div class="col">
    <div class="item range range-positive">
    <span class="input-label">{{datos.tasa1}}%</span>
    <input type="range"  min="0" max="100"  ng-model="datos.tasa1" ng-change="init()" >
  </div>
  </div>
  <div class="col">
 <h5 class="title">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa1))}} </h5>
  </div>

</div>

<div class="row">
    <div class="col">
    <div class="item range range-positive">
    <span class="input-label">{{datos.tasa2}}%</span>
    <input type="range"  min="0" max="100"   ng-model="datos.tasa2" ng-change="init()">
  </div>
  </div>
  <div class="col">
 <h5 class="title">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa2))}} </h5>

  </div>

</div>

<div class="row">
    <div class="col">
    <div class="item range range-positive">
    <span class="input-label">{{datos.tasa3}}%</span>
    <input type="range"  min="0" max="100"   ng-model="datos.tasa3" ng-change="init()">
  </div>
  </div>
  <div class="col">
 <h5 class="title">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa3))}} </h5>

  </div>

</div>

<div class="row">
    <div class="col">
    <div class="item range range-positive">
    <span class="input-label">{{datos.tasa4}}%</span>
    <input type="range"  min="0" max="100"   ng-model="datos.tasa4" ng-change="init()">
  </div>
  </div>
  <div class="col">
 <h5 class="title">{{formatearValoresMoneda(obtenerCuota(datos,datos.tasa4))}} </h5>
  </div>
</div>
<div class="item item-divider">
  </div>
<div class="row">
  <canvas id="bar" class="chart chart-bar" 
  chart-data="data2" chart-labels="labels2"> chart-series="series2"
</canvas
</div>

  

  </div>
  </ion-content>
</ion-view>
