<ion-view view-title="{{ 'DASHBOARD.TITULO' | translate }}" name="dashboard-view">


  <ion-content class="padding">
    <div class="row">
      <div class="col text-center">
        <div class="list">
          <div class="item item-divider">
            {{ 'DASHBOARD.VALOR_FINANCIAMIENTO' | translate }}
          </div>
          <label class="item item-input item-floating-label">
    
     <span class="input-label">{{ 'DASHBOARD.VALOR_INMUEBLE' | translate }}</span>
     <label class="item item-input">
    <input type="text"  ng-input-currency ng-model="datos.vApartamento" placeholder="{{ 'DASHBOARD.VALOR_INMUEBLE' | translate }}" ng-init="datos.vApartamento=0" />
     </label>
          </label>
          <label class="item item-input item-floating-label">
    <span class="input-label">{{ 'DASHBOARD.NUMERO_MESES' | translate }}</span>
    <label class="item item-input">
      <input type="number" placeholder="{{ 'DASHBOARD.NUMERO_MESES' | translate }}" ng-model="datos.nMeses" ng-init="datos.nMeses=180">
    </label>
          </label>
          <label class="item item-input item-floating-label">
    <span class="input-label">{{ 'DASHBOARD.PORC_CUOTA_INICIAL' | translate }}</span>
    <label class="item item-input">
    <input type="number" placeholder="{{ 'DASHBOARD.PORC_CUOTA_INICIAL' | translate }}" ng-model="datos.pCuotaInicial" ng-init="datos.pCuotaInicial=30">
    </label>
          </label>
          <label class="item item-input item-floating-label">
    <span class="input-label">{{ 'DASHBOARD.TASA_INTERES_ANUAL' | translate }}</span>
    <label class="item item-input">
    <input type="number" placeholder="{{ 'DASHBOARD.TASA_INTERES_ANUAL' | translate }}" ng-model="datos.tasa" ng-init="datos.tasa=12">
    </label>
          </label>
          <label class="item item-input item-floating-label">
    <span class="input-label">{{ 'DASHBOARD.ABONO_CREDITO' | translate }}</span>
    <label class="item item-input">
    <input type="text" ng-input-currency placeholder="{{ 'DASHBOARD.ABONO_CREDITO' | translate }}" ng-model="datos.vAbono" ng-init="datos.vAbono=0">
    </label>
          </label>


          <div class="item item-divider">
            {{ 'DASHBOARD.VALORES_CUOTA_INICIAL' | translate }}
          </div>
          <div class="item item-divider">
            {{formatearValoresMoneda(datos.vApartamento*datos.pCuotaInicial/100)}}
          </div>
          <label class="item item-input item-floating-label">
     <span class="input-label">{{ 'DASHBOARD.NUMERO_MESES' | translate }}</span>
    <label class="item item-input">
    <input type="text"  ng-model="datos.iniMeses" placeholder="{{ 'DASHBOARD.NUMERO_MESES' | translate }}" ng-init="datos.iniMeses=12" />
    </label>
          </label>
          <label class="item item-input item-floating-label">
     <span class="input-label">
{{ 'DASHBOARD.ABONO_CUOTA_INICIAL' | translate }}
     </span>
    <label class="item item-input">
    <input type="text"  ng-input-currency ng-model="datos.iniAbono" placeholder="{{ 'DASHBOARD.ABONO_CUOTA_INICIAL' | translate }}" ng-init="datos.iniAbono=0" />
    </label>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>