<ion-view>
  <ion-tabs class="tabs-icon-top tabs-positive" >

    <ion-tab title="{{ 'MAIN.DATOS' | translate }}" icon="ion-clipboard" href="#/main/dash"  ng-selected="calcularValores(datos)">
      <ion-nav-view name="dash-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{ 'MAIN.CALCULOS' | translate }}" icon="ion-calculator" href="#/main/calculos" ng-selected="calcularValores(datos)" >
      <ion-nav-view name="calculos-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{ 'MAIN.COMPARAR' | translate }}" icon="ion-shuffle" href="#/main/comparar"  ng-selected="calcularValores(datos)">
      <ion-nav-view name="comparar-tab"></ion-nav-view>
    </ion-tab>

    <ion-tab title="{{ 'MAIN.REPORTES' | translate }}" icon="ion-android-document" href="#/main/reportes"  ng-selected="calcularValores(datos)">
      <ion-nav-view name="reportes-tab"></ion-nav-view>
    </ion-tab>


  </ion-tabs>
</ion-view>
