<ion-view view-title="Reportes" name="dashboard-view">
  <body ng-app="starter">  
    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">PDF Tutorial</h1>
      </ion-header-bar>
      <ion-content ng-controller="ReportesCtrl as vm" class="padding">
         <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">USUARIO</span>
    <input type="text" placeholder="USUARIO" ng-model="datos.rUsuario">
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">ASESOR</span>
    <input type="text" placeholder="ASESOR" ng-model="datos.rAsesor">
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">DESCRIPCION</span>
    <input type="text" placeholder="DESCRIPCION" ng-model="datos.rDescripcion">
  </label>
  <br>
</div>
          <div class="row">
              <div class="col col-50">
                  <button ng-click="vm.createInvoice()" class="button icon-left  button-positive">Generar reporte</button>
              </div>
              <div class="col col-50">
                  <button ng-click="vm.guardarReporte()" class="button icon-left  button-positive">Guardar reporte</button>
              </div>
          </div>

      </ion-content>
    </ion-pane>
</body>  

<script id="pdf-viewer.html" type="text/ng-template">  
    <ion-modal-view>
    <ion-content>

      <ng-pdf ng-if="pdfUrl" template-url="templates/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>  


</div>

      
    </ion-content>
    </ion-modal-view>
</script>
</ion-view>
