<ion-view view-title="{{ 'REPORT.TITULO' | translate }}" name="dashboard-view">
  <body ng-app="starter">  
    <ion-pane>
      <ion-content ng-controller="ReportesCtrl as vm" class="padding">
         <div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label">{{ 'REPORT.NAME' | translate }}</span>
    <input type="text" placeholder="{{ 'REPORT.NAME' | translate }}" ng-model="datos.rNombre">
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">{{ 'REPORT.EMAIL' | translate }}</span>
    <input type="email" placeholder="{{ 'REPORT.EMAIL' | translate }}" ng-model="datos.rEmail" required>
 
  </label>
    <label class="item item-input item-floating-label">
    <span class="input-label">{{ 'REPORT.DESC' | translate }}</span>
    <input type="text" placeholder="{{ 'REPORT.DESC' | translate }}" ng-model="datos.rDescripcion">
  </label>
  <br>
</div>
          <div class="row">
              <div class="col col-50">
                  <button ng-click="vm.createInvoice()" class="button icon-left ion-eye"
                  ng-disabled="!datos.rNombre||!datos.rEmail"
                  >{{ 'REPORT.VER' | translate }}</button>
              </div>
              <div class="col col-50">
                  <button ng-click="vm.guardarReporte()" class="button icon-left ion-android-send"
                   ng-disabled="!datos.rNombre||!datos.rEmail"
                  >{{ 'REPORT.ENVIAR' | translate }}</button>
              </div>
          </div>

      </ion-content>
    </ion-pane>
</body>  

<script id="pdf-viewer.html" type="text/ng-template">  
    <ion-modal-view>
    <ion-content>
      

      <ng-pdf ng-if="pdfUrl" template-url="templates/viewer.html" canvasid="pdf" scale="page-fit"></ng-pdf>  


</div>

      
    </ion-content>
    </ion-modal-view>
</script>
</ion-view>
